*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #dbdbd3;
}

ul{
    list-style: none;
}

li{
    padding-bottom: 20px;
}

/* Nav Style */

nav{
    min-height: 150px;
    background-color: #009688;
}

/* MAIN BOX */
.mainBox{
    width: 80%;
    margin: 0 auto;
    height: 850px;
    position: absolute;
    top: 3%;
    left: 11%;
    display: flex;
}
/* ***************************** */
/* LEFT SIDE */

.leftSide{
    width: calc(100% / 3 * 1);
    height: 100%;
    background-color: #eaeaea;
}

.rightSide{
    width: calc(100% / 3 * 2);
    height: 100%;
    right: 0;
    /* background-color: #cfc8c1; */
    border-left: 1px solid rgb(214, 214, 214);
}

/* navUser */
.navUser{
    display: flex;
    width: 100%;
    background-color: #eaeaea;
    padding: 7px;
    justify-content: space-between;
}

.icons{
    display: flex;
    align-items: center;
}

.avatar{
    display: flex;
    align-items: center;
    width: 50px;
}

.avatar img{
    border-radius: 50%;
}

img{
    /* border-radius: 50%; */
    width: 100%;
}

.icons .icon{
    padding-left: 10px;
}

/* ACTIVE ALARM */
.activeAlarm{
    display: flex;
    padding: 10px;
    background-color: #8edafc;
    align-items: center;
    min-height: 70px;
}

.activeAlarm div{
    padding-right: 20px;
}

.subText{
    text-decoration: underline;
}

/* SEARCH SECTION */
.search{
    padding: 10px;
    display: flex;
}

.iconMagnif{
    background-color: white;
    padding: 5px;
    padding-right: 10%;
}

.inputSearch{
    width: 85%;
    border: none;
    outline: none;

}


/* chatList */

.chatList{
    padding: 10px;
}

.chat{
    display: flex;
}

.itemChatAvatar{
    flex-basis: 20%;
    border-radius: 50%;
}

.itemChatAvatar img{
    border-radius: 50%;
}

.itemChatText{
    flex-basis: 60%;
    padding: 10px;
}

.itemChatData{
    flex-basis: 20%;
    text-align: right;
}

.wrap{
    height: 658px;
    overflow-y: auto;
}



/* **************************
    RIGHT SIDE */
/* CONTACT CHAT */

.contact{
    display: flex;
    padding: 5px;
    background-color: #eaeaea;
}

.contactAvatar{
    display: flex;
    align-items: center;
    flex-basis: 90%;
}

.infoContact{
    padding-left: 10px;
}

.image{
    width: 50px;
}

.image img{
    border-radius: 50%;
}

.iconsContact{
    display: flex;
    align-items: center;
}


.iconsContact .iconContact{
    padding-left: 10px;
}

/* SFONDO */
.wallpaperChat{
    height: 736px;
    background-color: #b7b2ac;
    /* background-image: url("/assets/img/bg_chat.png");
    background-size: cover; */
}

/* textBar */


.textBar {
    min-height: 50px;
    background-color: #f3eeea;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 5px;
}

.emoteIcon{
    width: 10%;
    text-align: center;

}

.inputTextUser{
    width: 80%;

}

.inputTextUser input{
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
}

.microphoneIcon{
    width: 10%;
    text-align: center;


}


